%h1=t("services")

= form_tag url_for(:controller => "services"), :method => :post, :class => "change_default" do
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %th.table-select.text-nowrap=t("service name")
        %th=t("price")
      %tbody
        - @services.each do |service|
          %tr
            %td= link_to service.name, edit_service_path(service)
            %td= link_to service.value, edit_service_path(service)

