#js-dashboard-chart.chart-height-sm

%h1=t("past due invoices")

%div{data: {role: 'infinite-scroll'}}
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %tr
          %th.table-select= check_box_tag "select_all", 1, false, {"data-role": "select-all-rows"}
          %th.no-wra=t("number")
          %th.no-wra=t("customer name")
          %th.no-wrap=t("date")
          %th.text-center=t("sent")
          %th.text-center=t("status")
          %th.text-right=t("pending")
          %th.text-right=t("total")
      %tbody{data: {role: 'infinite-content'}}
        = render @objects, current_page: @objects.current_page
