#js-dashboard-chart.chart-height-sm

%h1 Overdue Invoices

%div{data: {role: 'infinite-scroll'}}
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %tr
          %th{data: {role: "select-all"}}= check_box_tag "select_all", 1
          %th.no-wrap Number
          %th.no-wrap Customer Name
          %th.no-wrap Date
          %th.text-center Status
          %th.text-right Pending
          %th.text-right Total
      %tbody{data: {role: 'infinite-content'}}
        = render @objects, current_page: @objects.current_page
