!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Welcome to example.com, #{@invoice}
    %p Thanks for joining and have a great day!
