<% content_for :advanced_search do %>
  <p>Normal Search for Invoices</p>
  <ul>
    <li>Text Search by: Customer Name / Email / Items Description / Notes</li>
    <li>Series</li>
  </ul>
  <p>Advanced Search for Invoices</p>
  <ul>
    <li>Tags</li>
    <li>Issue Date Range (TODO: It's not in the edit form!!!)</li>
    <li>Due Date Range</li>
    <li>Status (checkboxes, draft, opened, closed, overdue)</li>
  </ul>
  <p>Sorting for Invoices</p>
  <ul>
    <li>Invoice number (series + number)</li>
    <li>Issue Date</li>
    <li>Due Date</li>
    <li>Creation Date</li>
    <li>Update Date</li>
    <li>Status</li>
    <li>Customer Name</li>
  </ul>
<% end %>
