#template-selector.modal.fade{ tabindex: -1, role: "dialog", style: "top: 50%; left: 50%; transform: translate(-50%, -50%);"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: "modal"}}
          %span
            &times;

        %h4 Select the template
      = form_for :common, :url => {:action => "select_print_template", :id => @invoice} do |f|
        .modal-body
          - if @templates
            .form-group
              = f.collection_select :print_template_id, @templates, :id, :to_s, {multiple: false}, class: "form-control" 
            
        .modal-footer
          = f.submit class: "btn btn-success hidden-sm-down", value: "Download PDF"