<h1>Listing invoices</h1>

<table class="table">
  <tr>
    <th>Customer name</th>
    <th>Customer identification</th>
    <th>Customer email</th>
    <th>Base amount</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render 'invoices' %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>

<%= will_paginate @invoices %>
