<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<% content_for :searchform__summary do %>
TOTAL: 10€
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Customer Name</th>
      <th>Date</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Pending</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody class="js-iscroll">
    <%= render @invoices %>
  </tbody>
</table>


