<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= link_to 'New Invoice', new_invoice_path %>
<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Customer Name</th>
      <th>Date</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Pending</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="js-iscroll">
    <%= render @invoices %>
  </tbody>
</table>


