<h1>New Invoice</h1>
<p id="alert"><%= alert %></p>
<%= render partial: 'form', locals: { is_new: true } %>

<div class="bottom-buttons">
<%= link_to 'Cancel', invoices_path, class: 'btn btn-danger' %>
<%= link_to 'Save', '#', class: 'btn btn-success form-save' %>
</div>
