<% title("Siwapp", "Invoices", @invoice.name)  %>

<iframe src="<%= @template_url %>" width="100%" height="900"></iframe>

<div class="bottom-buttons">
<%= link_to 'Back', :back, class: 'btn btn-primary' %>
<%= link_to 'PDF', "#{@template_url}.pdf", class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_invoice_path(@invoice), class: 'btn btn-primary' %>
</div>
