- title("Siwapp", "Invoices", @invoice.name)
/ the 770px width fits well with A4 paper size. TODO: see other options
.row
  .col-lg-6.col-lg-offset-3
    %iframe{:height => "1089px", :src => print_invoice_invoice_path(@invoice), :width => "770px"}
.action-buttons
  = link_to 'Back', :back, class: 'btn btn-secondary'
  = link_to 'PDF', print_invoice_invoice_path(@invoice) + ".pdf", class: 'btn btn-primary'
  = link_to 'Edit', edit_invoice_path(@invoice), class: 'btn btn-primary'
