- title("Siwapp", "Invoices", @invoice.name)
/ the 770px width fits well with A4 paper size. TODO: see other options
.row
  .col-lg-6.offset-lg-3
    %iframe.invoice-preview{:src => print_invoice_path(@invoice)}
.action-buttons{"data-role": "action-buttons"}
  = link_to t("back"), :back, class: 'btn btn-secondary'
  = link_to t("send email"), send_email_invoice_path, class: 'btn btn-primary'
  = link_to t("download pdf"), print_invoice_path(@invoice,:format=>:pdf), class: 'btn btn-primary'
  = link_to t("edit"), edit_invoice_path(@invoice), class: 'btn btn-primary'
