<% title("Siwapp", "Invoices", @invoice.name)  %>
<!-- the 770px width fits well with A4 paper size. TODO: see other options -->
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <iframe src="<%= @template_url %>" width="770px" height="1089px"></iframe>
  </div>
</div>

<div class="bottom-buttons">
<%= link_to 'Back', :back, class: 'btn btn-primary' %>
<%= link_to 'PDF', "#{@template_url}.pdf", class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_invoice_path(@invoice), class: 'btn btn-primary' %>
</div>
