#items-table.invoice-items
  = f.fields_for :items, include_id: false  do |item_form|
    = render partial: 'shared/item_fields', locals: {f: item_form, is_new: false}
.invoice-items-actions
  = link_to_add_association 'Add Line', f, :items,       |
    'data-association-insertion-node' => '#items-table', |
    'data-association-insertion-method' => 'append',     |
    :partial => 'shared/item_fields',                    |
    :render_options => {locals: {is_new: true}},         |
    :class => 'btn btn-secondary' |

#amounts
  = render partial: 'amounts', locals: {invoice: invoice}
