#js-items-table.invoice-table
  = f.fields_for :items, include_id: false  do |item_form|
    = render partial: 'shared/item_fields', locals: {f: item_form}

.row
  .col-xs-12.col-sm-6.col-md-7.col-lg-8
    .invoice-table-actions
      = link_to_add_association t("add line"), f, :items,       |
        'data-association-insertion-node' => '#js-items-table', |
        'data-association-insertion-method' => 'append',        |
        :partial => 'shared/item_fields',                       |
        :class => 'btn btn-secondary'                           |
  .col-xs-12.col-sm-6.col-md-5.col-lg-4
    #amounts.invoice-amounts
      = render partial: 'amounts', locals: {invoice: invoice}
