<div class="input-group-btn">
  <button type="button" class="btn btn-default --dropup-- --active--" data-toggle="collapse" data-target="#searchform__filters" aria-pressed="false" autocomplete="off">
    <span class="hidden-xs">Advanced</span>
    <span class="caret"></span>
  </button>
</div>
