<%= search_form_for @search, html: {class: "collapse nav navbar-nav navbar-toggleable-md siwapp-search-form", id: "js-search-form"} do |f| %>

  <div class="input-group pull-lg-right siwapp-input-search">
    <% if @search_filters %>
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary material-icons" data-toggle="collapse" data-target="#js-search-filters">expand_more</button>
      </div>
    <% end %>
    <%= f.text_field :with_terms, class: 'form-control', placeholder: 'Search…', title: 'Search by customer, email or VAT ID' %>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary material-icons">search</button>
    </div>
  </div>

  <% if @search_filters %>
    <div class="collapse siwapp-search-filters" id="js-search-filters">
      <%= render 'searchform__filters', f: f %>
    </div>
  <% end %>

<% end %>
