%p
  = f.label :tag_list, "Tags (separated by commas)"
  = f.text_field :tag_list, value: instance.tag_list.to_s, id: 'tagList', autocomplete: 'off', data: { role: 'tagging' }
- if @tags.size > 0
  :javascript
    var availableTags = ['#{raw @tags.join("', '")}'];
