.chart-responsive {
  display: block;
  min-height: .01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
}

.chart-height-sm {
  height: 15rem;
}

.c3-grid line { stroke: $generic-border-color; }
