h1 {
  font-size: 1.875rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5625rem;
}

h3 {
  font-size: 1.3125rem;
}

h4 {
  font-size: 1.0625rem;
}

h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

.section-hd {
  margin-bottom: 1rem;

  h1 {
    margin-bottom: .5rem;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-bottom: 0;
    }
  }
}

.section-hd__action {
  background: white;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.875rem;
  line-height: 1.1;
  padding: .5rem .75rem;
  vertical-align: baseline;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  &:focus {
    outline: none;
  }

  &:hover {
    background: $gray-lightest;
  }
  &:active {
    background: $gray-lighter;
  }

  &::after {
    margin-left: .75rem;
    color: #ccc;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: right;
  }
}

.section-summary {
  margin-bottom: 2rem;
  border: 1px solid $gray-lighter;
  padding: 1rem;
}
