// To place buttons at the bottom right of the page
.action-buttons {
  text-align: right;
  margin-bottom: 1rem;

  > {
    .btn-group, .btn {
      margin-left: .25rem;
    }
  }

  &[data-role="action-buttons"] {
    position: fixed;
    z-index: 1010;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
  }
}

.invoice-table {
  border-top: 1px solid $table-border-color;
}

.invoice-row {
  position: relative;
  border-bottom: 1px solid $table-border-color;

  // Use a smaller grid gutter only inside invoice items
  @include media-breakpoint-down(md) {
    padding: ($small-grid-gutter-width * 2) $small-grid-gutter-width;

    .row {
      @include make-row($small-grid-gutter-width);

      @each $breakpoint in (md, sm, xs) {
        @for $i from 1 through $grid-columns {
          .col-#{$breakpoint}-#{$i} {
            @include make-col($small-grid-gutter-width);
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: $grid-gutter-width / 2;
  }

  .destroy-icon {
    color: $brand-danger;
    position: absolute;
    top: $small-grid-gutter-width * 1.5;
    right: $small-grid-gutter-width;
    z-index: 1;

    @include media-breakpoint-up(md) {
      top: $grid-gutter-width / 2;
      right: $grid-gutter-width / 2;
    }

    @include hover-focus-active {
      color: darken($brand-danger, 10%);
    }
  }

  .form-control-static {
    display: inline-block;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  .form-group {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}

.invoice-table-actions {
  margin: 1rem 0;

  .btn {
    display: block;
    @include media-breakpoint-up(sm) {
      display: inline-block;
    }
  }
}

.invoice-amounts {
  border-bottom: 1px solid $table-border-color;

  table {
    margin: 0;
  }

  tr:first-child {
    td, th {
      border-top-width: 0;
    }
  }

  td {
    text-align: right;
  }

  .amounts-total {
    background: $gray-dark;
    color: white;
    font-weight: bold;
  }
}

.tax-selector {
  .btn-group {
    width: 100%;
  }

  .btn {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .75rem;
    padding-right: 1.5rem;
    text-align: left;

    &.dropdown-toggle::after {
      margin: 0;
      position: absolute;
      top: 1rem;
      right: .5rem;
    }

    span {
      font-size: 80%;
    }
  }

  .checkbox {
    margin-bottom: 0;
    margin-left: -.5rem;

    input[type="checkbox"] {
      position: relative;
      top: -1px;
      margin-right: .5rem;
    }
  }
}

[data-role="tagging"] + .select2 {
  width: 100% !important;
}

.select2-container--default {
  &.select2-container--focus {
    .select2-selection--multiple {
      border-color: #66afe9;
    }
  }
  .select2-selection--multiple {
    border-color: #ccc;
  }
}

.label-small-link {
  font-size: $font-size-xs;
  line-height: 2;
  float: right;
  display: inline-block;
}
