.invoice-table {
  border-top: 1px solid $table-border-color;
}

.invoice-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: 1rem 0;
  border-bottom: 1px solid $table-border-color;

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
    position: relative;
    padding-right: 1rem;
  }

  .destroy-icon {
    color: $brand-danger;

    @include hover-focus-active {
      color: darken($brand-danger, 10%);
    }

    @include media-breakpoint-down(md) {
      background-color: transparent;
      background-image: none;
      border-radius: 0.25rem;
      border: 1px solid $brand-danger;
      color: $brand-danger;
      cursor: pointer;
      display: block;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.5;
      padding: 0.375rem 1rem;
      text-align: center;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      width: 100%;
      text-decoration: none;

      @include hover-focus-active {
        color: #fff;
        background-color: #d9534f;
        border-color: #d9534f;
      }
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 auto;
      align-self: center;
      margin-left: 2rem;
    }
  }
}

.invoice-col,
[class|="invoice-col"] {
  flex: 1 0 100%;

  @include media-breakpoint-up(lg) {
    flex: 1 1 10rem;
    margin: 0 0 0 1rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .select2 {
    width: 100% !important;
  }

  .select2-selection__choice {
    @include media-breakpoint-only(xs) {
      float: none !important;
      margin-right: 0 !important;
    }
  }
}

@include media-breakpoint-only(xs) {
  .invoice-col--quantity,
  .invoice-col--amount,
  .invoice-col--discount,
  .invoice-col--taxes {
    flex: 1 0 45%;
  }

  .invoice-col--quantity,
  .invoice-col--discount {
    margin-right: .5rem;
  }

  .invoice-col--amount,
  .invoice-col--taxes {
    margin-left: .5rem;
  }
}

@include media-breakpoint-only(sm) {
  .invoice-col--quantity,
  .invoice-col--amount,
  .invoice-col--discount {
    flex: 1 1 30%;
  }

  .invoice-col--quantity {
    margin-right: .5rem;
  }

  .invoice-col--amount {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .invoice-col--discount {
    margin-left: .5rem;
  }
}

@include media-breakpoint-only(md) {
  .invoice-col--quantity,
  .invoice-col--amount,
  .invoice-col--discount,
  .invoice-col--taxes {
    flex: 1 0 20%;
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .invoice-col--quantity {
    margin-left: 0;
  }

  .invoice-col--taxes {
    margin-right: 0;
  }
}

@include media-breakpoint-down(md) {
  .invoice-col--total {
    text-align: center;
    border-radius: 0.25rem;
    background: $gray-lightest;
    color: $gray;

    label {
      text-transform: none;
      font-size: 100%;
      color: inherit;
      font-weight: bold;
      margin-right: 0.25rem;
      &:after {
        content: ":";
        display: inline-block;
        font-weight: bold;
        color: inherit;
      }
    }

    .form-control-static {
      display: inline-block;
    }
  }
}

@include media-breakpoint-up(lg) {
  .invoice-col--description {
    flex-grow: 10;
  }

  .invoice-col--taxes {
    flex-grow: 5;
  }

  .invoice-col--quantity,
  .invoice-col--amount,
  .invoice-col--discount {
    flex-basis: 5rem;
  }

  .invoice-col--total {
    flex-basis: 5rem;
    text-align: right;

    .form-control-static {
      padding: 0.375rem 0.75rem;
      color: $gray;
      background: $gray-lightest;
      border: 1px solid $gray-lighter;
      border-radius: 0.25rem;
    }
  }
}

.invoice-table-actions {
  margin: 1rem 0;

  .btn {
    display: block;
    @include media-breakpoint-up(sm) {
      display: inline-block;
    }

    + .checkbox-inline {
      @include media-breakpoint-only(xs) {
        display: block;
        padding-left: 0;
        margin-top: 1rem;
      }
    }
  }
}

.invoice-amounts {
  border-bottom: 1px solid $table-border-color;

  table {
    margin: 0;
  }

  tr:first-child {
    td, th {
      border-top-width: 0;
    }
  }

  td {
    text-align: right;
  }

  .amounts-total {
    background: $gray-dark;
    color: white;
    font-weight: bold;
  }
}

[data-role="tagging"] + .select2 {
  width: 100% !important;
}

.select2-container--default {
  &.select2-container--focus {
    .select2-selection--multiple {
      border-color: #66afe9;
    }
  }
  .select2-selection--multiple {
    border-color: #ccc;
  }
}

.label-small-link {
  font-size: $font-size-xs;
  line-height: 2;
  float: right;
  display: inline-block;
}
