// To place buttons at the bottom right of the page
.action-buttons {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;

  text-align: right;

  > {
    .btn-group, .btn {
      margin-left: .25rem;
    }
  }
}

.invoice-items {
  margin-bottom: 1em;
  border: 1px solid $generic-border-color;
}

.invoice-item {
  position: relative;
  border-bottom: 1px solid $generic-border-color;
  &:last-child {
    border-width: 0px;
  }

  // Use a smaller grid gutter only inside invoice items
  @include media-breakpoint-down(md) {
    padding: $small-grid-gutter-width;

    .row {
      @include make-row($small-grid-gutter-width);

      @each $breakpoint in (md, sm, xs) {
        @for $i from 1 through $grid-columns {
          .col-#{$breakpoint}-#{$i} {
            @include make-col($small-grid-gutter-width);
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: $grid-gutter-width / 2;
  }

  .destroy-icon {
    color: $brand-danger;
    position: absolute;
    top: $small-grid-gutter-width;
    right: $small-grid-gutter-width;

    @include media-breakpoint-up(sm) {
      top: $grid-gutter-width / 2;
      right: $grid-gutter-width / 2;
    }

    @include hover-focus-active {
      color: darken($brand-danger, 10%);
    }
  }

  .form-control-static {
    display: inline-block;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  .form-group {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}

.invoice-items-actions {
  margin-bottom: 1rem;

  .btn {
    display: block;
    @include media-breakpoint-up(sm) {
      display: inline-block;
    }
  }
}
