tr[data-href] {
  cursor: pointer;
}

td, th {
  &[data-role^="select"] {
    width: 3rem;
    text-align: center;
  }
  .sort_link {
    color: inherit;
  }
}

.content-loading {
  margin-bottom: 1rem;
  text-align: center;

  .loader {
    width: 3.125rem;
    height: auto;
  }
}
