tr[data-href] {
  cursor: pointer;
}

td, th {
  &[data-role^="select"] {
    width: 3rem;
    text-align: center;
  }
  .sort_link {
    color: inherit;
  }
}

.content-loading {
  margin-bottom: 1rem;
  text-align: center;

  .loader {
    width: 3.125rem;
    height: auto;
  }
}

.section-hd {
  h1 {
    margin-bottom: .5rem;
  }

  .section-hd__action {
    background: white;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1.875rem;
    line-height: 1.1;
    padding: .5rem .75rem;
    vertical-align: baseline;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

    &:focus {
      outline: none;
    }

    &:hover {
      background: $gray-lightest;
    }
    &:active {
      background: $gray-lighter;
    }

    &::after {
      margin-left: .75rem;
      color: #ccc;
    }
  }

  @include media-breakpoint-down(xs) {
    h1 {
      font-size: 1.875rem;
    }
    .section-hd__action {
      font-size: 1.5rem;
      display: block;
      width: 100%;
      text-align: right;
    }
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: baseline;

    h1 {
      margin-bottom: 0;
    }
  }
}

.section-info {
  border: 1px solid $gray-lighter;
}
