// scss-lint:disable ImportantRule
// Custom override for
.navbar-toggleable {
  &-lg {
    @include media-breakpoint-up(xl) {
      display: block !important;
    }
  }
}
// scss-lint:enable ImportantRule

.siwapp-input-search {
  @include media-breakpoint-up(xl) {
    padding-left: 1rem;
  }
}

.siwapp-search-form {
  @include media-breakpoint-down(lg) {
    @include clearfix();
    clear: both;
    padding-top: .5rem;
  }
}

.siwapp-search-filters {
  @include clearfix;
  clear: both;
}

.siwapp-search-filters__content {
  margin: 1rem -1rem 0;
  padding: 1rem;
  background: white;
  border: 1px solid $gray-lighter;
  border-left-width: 0;
  border-right-width: 0;
}

input[type="date"].form-control {
  line-height: 1.5 !important;
}
