%h1 API Token

.row
  .col-xs-12.col-md-6.col-xl-4
    Use this token to authenticate your api requests
.row
  .col-xs-12.col-md-6.col-xl-4
    %code.active
      = @api_token



.action-buttons
  = link_to 'Generate token', 'api_token', method: :post, data: { confirm: 'Are you sure? This will invalidate the previous token' }, class: 'btn btn-success pull-xs-right no-margin'
