<h1>Editing Customer</h1>

<%= render 'form' %>

<div class="bottom-buttons">
<%= link_to 'Back', :back %> |
<%= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
