%h1 Customers
%div{data: {role: 'infinite-scroll'}}
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %tr
          %th.no-wrap Customer Name
          %th.no-wrap Identification
          %th.text-right Due
          %th.text-right Total
      %tbody{data: {role: 'infinite-content'}}
        - @customers.each_with_index do |customer, i|
          %tr{data: {href: edit_customer_path(customer), itemid: customer.id, page_start: i.zero?, page: @customers.current_page}}
            %td.no-wrap= customer.name
            %td.no-wrap= customer.identification
            %td.text-right= customer.due.round 2
            %td.text-right= customer.total.round 2
  .content-loading.hide{data: {role: 'infinite-status'}}
    .spinner
