%h1=t("customers")
%div{data: {role: 'infinite-scroll'}}
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %tr
          %th.no-wrap=t("customer name")
          %th.no-wrap=t("identification")
          %th.text-right=t("due")
          %th.text-right=t("total")
          %th.text-right
      %tbody{data: {role: 'infinite-content'}}
        - @customers.each_with_index do |customer, i|
          %tr{data: {href: edit_customer_path(customer), itemid: customer.id, page_start: i.zero?, page: @customers.current_page}}
            %td.no-wrap
              =link_to customer.name, edit_customer_path(customer)
            %td.no-wrap= customer.identification
            %td.text-right= customer.due > 0.0 ? display_money(customer.due) : ""
            %td.text-right= display_money customer.total
            %td.text-center{"data-no-href": ""}
              %a{class: "material-icons",
                 title: "See Invoices",
                 href: "#{customer_invoices_path(customer.id)}"} list
  .content-loading.hide{data: {role: 'infinite-status'}}
    .spinner
