%h1 Tax Groups
.table-responsive
  %table
    %thead
      %tr
        %th
    %tbody
      - @tax_groups.each do |tax_group|
        %tr
          %td= link_to tax.name, edit_tax_path(tax_group)
%br/
