%table.table
  %tr
    %td Discount:
    %td= invoice.discount_amount
  %tr
    %td Subtotal:
    %td= invoice.net_amount
  %tr
    %td Tax:
    %td= invoice.tax_amount
  %tr
    %td Total:
    %td= invoice.gross_amount
