<h1>Listing invoice_items</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoice_items.each do |invoice_item| %>
  <tr>
    <td><%= link_to 'Show', invoice_item %></td>
    <td><%= link_to 'Edit', edit_invoice_item_path(invoice_item) %></td>
    <td><%= link_to 'Destroy', invoice_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice item', new_invoice_item_path %>
