%h1=t("taxes")

= form_tag url_for(:controller => "taxes", :action => "set_default"), :method => :post, :class => "change_default" do
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %th.table-select.text-nowrap=t("default")
        %th=t("tax name")
      %tbody
        - @taxes.each do |tax|
          %tr
            %td.table-select= check_box_tag 'default_tax[]', tax.id, tax.default, {id: "default_tax_#{tax.id}", "data-role": "select-default"}
            %td= link_to tax.name, edit_tax_path(tax)
