<h1>Listing Taxes</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @taxes.each do |tax| %>
      <tr>
        <td><%= link_to tax.name, edit_tax_path(tax) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
