@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function rem($number) {
  @return strip-units($number / $font-size-base);
}

$generic-border-color: $gray-400;

$gray-dark: $gray-800;
$gray: $gray-700;
$gray-light: $gray-600;
$gray-lighter: $gray-400;
$gray-lightest: $gray-200;

$brand-danger: $danger;
$brand-success: $success;

$font-size-xs: ($font-size-base * .575);
