<% content_for :advanced_search do %>
  <p>Normal Search for Recurring Invoices</p>
  <ul>
    <li>Text Search by: Customer Name / Email / Items Description / Notes</li>
    <li>Series</li>
  </ul>
  <p>Advanced Search for Recurring Invoices</p>
  <ul>
    <li>Tags</li>
    <li>Starting Date Range</li>
    <li>Finishing Date Range</li>
    <li>Last Execution Date Range</li>
    <li>Enabled</li>
    <li>Draft</li>
  </ul>
  <p>Sorting for Recurring Invoices</p>
  <ul>
    <li>Series</li>
    <li>Starting Date</li>
    <li>Finishing Date</li>
    <li>Creation Date</li>
    <li>Update Date</li>
    <li>Customer Name</li>
  </ul>
<% end %>
