%h1
  Recurring Invoice
  %span.no-wrap= @recurring_invoice

= render 'form'

.action-buttons
  = link_to 'Delete', @recurring_invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-xs-left no-margin'

  = link_to 'Back', :back, class: 'btn btn-secondary'
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form[data-role="invoice"]'}} Save
