<h2>Edit Recurring Invoice</h2>
<%= render 'form' %>
<%= link_to 'Back', recurring_invoices_path %> |
<%= link_to 'Destroy', @recurring_invoice, method: :delete, data: { confirm: 'Are you sure?' } %>
