%h1
  = @recurring_invoice

= render partial: 'form', locals: {is_new: false}

.action-buttons{"data-role": "action-buttons"}
  = link_to 'Delete', @recurring_invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-xs-left no-margin'

  = link_to 'Back', :back, class: 'btn btn-secondary'
  %button.btn.btn-success.hidden-sm-down{type: 'button', data: {activate_flag: 'stay', role: 'submit-form', target: 'form[data-role="invoice"]'}} Save and continue editing
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form[data-role="invoice"]'}} Save
