<p id="notice"><%= notice %></p>

<h1>Listing Invoices</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td></td>
        <td>></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

  </tbody>
</table>

<br>

<%= link_to 'New Recurring Invoice', new_recurring_invoice_path %>
