<% content_for :advanced_search do %>
<div id="searchOptions" class="container-fluid" style="display: none;">
  <p>Advanced Search Options for Recurring Invoices</p>
</div>
<% end %>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= link_to 'New Recurring Invoice', new_recurring_invoice_path %>

<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Series</th>
      <th>Period Type</th>
      <th>Frecuency</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="js-iscroll">
    <%= render @recurring_invoices %>
  </tbody>
</table>
