<p id="notice"><%= notice %></p>

<h1>Listing Recurring Invoices</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody id="recurring_invoices_list">
    <%= render @recurring_invoices %>
  </tbody>
</table>
<div id="infinite-scrolling">
  <%= will_paginate %>
</div>

<br>

<%= link_to 'New Recurring Invoice', new_recurring_invoice_path %>
