%h1 New Recurring Invoice

= render 'form'

.action-buttons
  = link_to 'Back', :back, class: 'btn btn-secondary'
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form[data-role="invoice"]'}} Save
