<h1>Editing Series</h1>

<%= render 'form' %>

<div class="bottom-buttons">
<%= link_to 'Back', :back %>
<%= link_to 'Destroy', @series, method: :delete, data: { confirm: 'Are you sure?' } %> |
</div>
