<h1>Listing Series</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= link_to series.name, edit_series_path(series) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

